<section >
	<profile-details></profile-details>
	<div class="uploads-views">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-1 nav__btn">
					<button>
						<span class="material-icons">person_outline</span>
					</button>

					<button>
						<span class="material-icons">favorite</span>
					</button>
				</div>
				<div class="col-sx-12 col-sm-11 content--padding">
					<div>
						<my-uploads></my-uploads>
					</div>
					<div>
						<favorite></favorite>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>