section{
	background-repeat: no-repeat;
     background-position: right;
     background-size: contain;
}
.profile-details{
	background: linear-gradient(-270deg, #002a3f, rgba(0, 42, 63, 0.7));
    color: white;
    line-height: 20px;
    padding: 30px;
}
img{
	width: 100%;
    border: 5px solid white;
    border-radius: 15px
}

.row__vertical--alignment{
	align-items: center;
}
.profile__details--text{
	text-align: center;
}
.profile__details--img{
	text-align: center;
	margin-bottom: 20px;
	max-width: 187px;

}

.email__unverified{
	background: red;
    padding: 3px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
}

.email__verified{
	background: green;
    padding: 3px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
}

button{
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    color: white;
    margin: 0px 10px;
}

.btn__edit-details{
    border: 1px solid #ffb300;
    background: #ffb300;
}

.btn__logout{
    border: 1px solid red;
    background: red;
}

@media only screen and (min-width: 768px) {
	.profile__details--text{
	text-align: left;
}	
}